<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/dist/css/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="topbar"></div>

    <nav>
      <div class="nav-wrapper white">
        <a href="#" class="brand-logo">
          <img src="/images/v7.png" class="logo"/> <div style="color: #B3B6B7; float: left"><%= title %></div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html" style="color: #666">首页</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">组件库</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">热门文章</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">最新文章</a></li>
          <li><a href="#" style="color: #666">登录</a></li>
        </ul>
      </div>
    </nav>

    <!-- <h1><%= title %></h1> -->
    <!-- <p>EJSss Welcome to <%= title %></p>
    <a>this is test title</a>

    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a> -->

    <div class="main">
      
    </div>



    <footer class="page-footer footer-color">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/dist/js/materialize.min.js"></script>
</html>

