<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/dist/css/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="topbar"></div>

    <nav style="background: #fff;">
      <div class="nav-wrapper white" style="max-width: 1200px; margin: 0 auto">
        <a href="#" class="brand-logo">
          <img src="/images/v7.png" class="logo"/> <div style="color: #B3B6B7; float: left; margin-left: 10px;"><%= title %></div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html" style="color: #666">首页</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">组件库</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">文章</a></li>
          <li><a href="#" style="color: #666">issues</a></li>
          <li><a href="#" style="color: #666">登录</a></li>
        </ul>
      </div>
    </nav>

    <!-- <h1><%= title %></h1> -->
    <!-- <p>EJSss Welcome to <%= title %></p>
    <a>this is test title</a>

    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a> -->

    <div class="main">
      <div class="row" style="border: 1px solid #d9dadc;">

        <div class="col s9"  style="border-right: 1px solid #d9dadc; padding: 0px;">
            <div class="row" >
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s3"><a href="#test1" class="active">全部</a></li>
                  <li class="tab col s3"><a href="#test2">最新</a></li>
                  <li class="tab col s3"><a href="#test3">热门</a></li>
                  <li class="tab col s3"><a href="#test4">Q & A</a></li>
                </ul>
              </div>
              <div id="test1" class="col s12">
                <div class="content">
                  <table class="bordered highlight"> 
                    <!--<thead>
                      <tr>
                          <th>Name</th>
                          <th>Item Name</th>
                          <th>Item Price</th>
                      </tr>
                    </thead>-->

                    <tbody>
                      <tr>
                        <td>
                          《JavaScript 从入门到放弃》
                          <span style="float: right;">2017/07/07</span>
                        </td>
                      </tr>
                      <tr>
                        <td>实例化mongodb</td>
                      </tr>
                      <tr>
                        <td>react 入门</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="test2" class="col s12">Test 2</div>
              <div id="test3" class="col s12">Test 3</div>
              <div id="test4" class="col s12">Test 4</div>
            </div>
        </div>

        <div class="col s3" style="padding: 0px;">
          this is 3
        </div>

      </div>
    </div>



    <footer class="page-footer footer-color">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/dist/js/materialize.min.js"></script>
</html>

