<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/materialize.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJSss Welcome to <%= title %></p>
    <a>this is test title</a>
    <button>this</button>
  </body>
</html>
