<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/dist/css/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
    <div class="topbar"></div>

    <nav style="background: #fff;">
      <div class="nav-index nav-wrapper white" style="margin: 0 auto">
        <a href="#" class="brand-logo">
          <img src="/images/v7.png" class="logo"/> <div style="color: #B3B6B7; float: left; margin-left: 10px;"><%= title %></div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html" style="color: #666">首页</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">组件库</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">文档</a></li>
          <li><a href="https://vuejs.com.cn" style="color: #666">文章</a></li>
          <li><a href="#" style="color: #666">issues</a></li>
          <li><a href="#" style="color: #666">登录/注册</a></li>
        </ul>
      </div>
    </nav>

    <div class="main-login">

      <div class="login">
        <div class="login-warp"></div>
        <div class="login-cont">
            <div class="login-title"> <a class="waves-effect waves-light pulse" style="color: #fff;"> Register </a></div>
            <div class="row">
              <form class="col s12">

                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate" style="border-bottom: 1px solid #fff">
                    <label for="email" data-error="wrong" data-success="right" style="color: #fff">Email : </label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" class="validate" style="border-bottom: 1px solid #fff">
                    <label for="password" style="color: #fff">Password : </label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" class="validate" style="border-bottom: 1px solid #fff">
                    <label for="password" style="color: #fff">Confirm Password : </label>
                  </div>
                </div>
                <div style="text-align:center; margin-top: 40px;">
                    <a class="waves-effect waves-light btn teal accent-4 pulse">Confirm<i class="material-icons right">send</i></a>
                </div>

                <div class="row" style="margin-top: 20px;">
                  <div class="input-field col s12">
                    <a class="waves-effect waves-light pulse" style="color: #fff; float: right; line-height: 24px;">
                      <i class="material-icons right" style="margin-left: 5px;">chevron_right</i>Login
                    </a>
                  </div>
                </div>

              </form>
            </div>
        </div>
      </div>
    </div>

</body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/dist/js/materialize.min.js"></script>
</html>